html, body {
  margin: 2;
  padding: 0;
}

canvas {
  display: block;
}

h1{
  text-align: center;
}

body{
 background-color: blue;
}

if{
  display: cen;
}

footer {
  background-color: aquamarine;
  text-align: center;
  padding: 40px 0;
}

.copyright {
  color: #000000;
  font-size: 13px;
  margin: 20px 0 0;
}



main {
  position: absolute;
  top: 100px;
  left: 150px;
}
